-- MySQL dump 10.13  Distrib 9.0.1, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: tanacoin
-- ------------------------------------------------------
-- Server version	9.0.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `crypto_payments`
--

DROP TABLE IF EXISTS `crypto_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crypto_payments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `payment_amount` decimal(30,18) NOT NULL,
  `crypto_type` varchar(50) NOT NULL,
  `crypto_precision` int NOT NULL DEFAULT '18',
  `payment_transaction_hash` varchar(255) NOT NULL,
  `payment_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('pending','completed','failed') DEFAULT 'pending',
  `tanacoin_quantity` decimal(30,18) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_hash` (`payment_transaction_hash`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `crypto_payments_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crypto_payments`
--

LOCK TABLES `crypto_payments` WRITE;
/*!40000 ALTER TABLE `crypto_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `crypto_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kyc_documents`
--

DROP TABLE IF EXISTS `kyc_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kyc_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `document_type` varchar(50) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'pending',
  `rejection_reason` text,
  `verified_by` int DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_doc_per_user` (`user_id`,`document_type`),
  CONSTRAINT `kyc_documents_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kyc_documents`
--

LOCK TABLES `kyc_documents` WRITE;
/*!40000 ALTER TABLE `kyc_documents` DISABLE KEYS */;
INSERT INTO `kyc_documents` VALUES (4,60,'passport','C:\\Users\\dali6\\Downloads\\tanacoin_prod\\tanacoin_backend_main\\app\\..\\Uploads\\kyc_documents\\temp\\passport_728629ae41514fcabf56d493de3e7230.jpg','pending',NULL,NULL,NULL,'2025-06-21 15:04:37','2025-06-21 15:04:44'),(5,60,'selfie','C:\\Users\\dali6\\Downloads\\tanacoin_prod\\tanacoin_backend_main\\app\\..\\Uploads\\kyc_documents\\temp\\selfie_08363937bfca48e99b7f1dc73985f0ac.jpg','pending',NULL,NULL,NULL,'2025-06-21 15:04:39','2025-06-21 15:04:44');
/*!40000 ALTER TABLE `kyc_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promo_codes`
--

DROP TABLE IF EXISTS `promo_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promo_codes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(255) NOT NULL,
  `added_tnc_percentage` decimal(5,2) DEFAULT '0.00',
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `creator_id` int DEFAULT NULL,
  `spender_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `unique_spender_code` (`code`,`spender_id`),
  KEY `creator_id` (`creator_id`),
  KEY `spender_id` (`spender_id`),
  CONSTRAINT `promo_codes_ibfk_1` FOREIGN KEY (`creator_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `promo_codes_ibfk_2` FOREIGN KEY (`spender_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promo_codes`
--

LOCK TABLES `promo_codes` WRITE;
/*!40000 ALTER TABLE `promo_codes` DISABLE KEYS */;
INSERT INTO `promo_codes` VALUES (17,'6Q6EMHM0',10.00,'2025-01-05 23:44:16','2026-01-05 23:44:16',46,NULL,'2025-01-05 23:44:16','2025-01-05 23:44:16'),(18,'YCI5K686',10.00,'2025-06-20 17:11:18','2026-06-20 17:11:18',47,NULL,'2025-06-20 17:11:18','2025-06-20 17:11:18');
/*!40000 ALTER TABLE `promo_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `superusers`
--

DROP TABLE IF EXISTS `superusers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `superusers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `superusers`
--

LOCK TABLES `superusers` WRITE;
/*!40000 ALTER TABLE `superusers` DISABLE KEYS */;
/*!40000 ALTER TABLE `superusers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tanacoin_main_balance`
--

DROP TABLE IF EXISTS `tanacoin_main_balance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tanacoin_main_balance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `total_balance` decimal(20,2) DEFAULT '0.00',
  `tanacoin_rate` decimal(20,8) DEFAULT '0.09000000',
  `tanacoins_sold` decimal(20,2) DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tanacoin_main_balance`
--

LOCK TABLES `tanacoin_main_balance` WRITE;
/*!40000 ALTER TABLE `tanacoin_main_balance` DISABLE KEYS */;
INSERT INTO `tanacoin_main_balance` VALUES (1,98082299.14,0.09916000,916521.93,'2024-12-10 21:39:19','2024-12-28 22:42:16');
/*!40000 ALTER TABLE `tanacoin_main_balance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tanacoin_transactions`
--

DROP TABLE IF EXISTS `tanacoin_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tanacoin_transactions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_id` int NOT NULL,
  `recipient_id` int DEFAULT NULL,
  `amount` decimal(20,8) NOT NULL,
  `transaction_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('pending','completed','failed') DEFAULT 'pending',
  `transaction_hash` varchar(255) DEFAULT NULL,
  `recipient_tnc_wallet_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_hash` (`transaction_hash`),
  KEY `sender_id` (`sender_id`),
  KEY `recipient_id` (`recipient_id`),
  CONSTRAINT `tanacoin_transactions_ibfk_1` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`),
  CONSTRAINT `tanacoin_transactions_ibfk_2` FOREIGN KEY (`recipient_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tanacoin_transactions`
--

LOCK TABLES `tanacoin_transactions` WRITE;
/*!40000 ALTER TABLE `tanacoin_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `tanacoin_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temp_kyc_documents`
--

DROP TABLE IF EXISTS `temp_kyc_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temp_kyc_documents` (
  `temp_user_id` varchar(50) NOT NULL,
  `document_type` varchar(50) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'pending',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`temp_user_id`,`document_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temp_kyc_documents`
--

LOCK TABLES `temp_kyc_documents` WRITE;
/*!40000 ALTER TABLE `temp_kyc_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `temp_kyc_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tnc_wallets`
--

DROP TABLE IF EXISTS `tnc_wallets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tnc_wallets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `tnc_wallet_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `balance` decimal(10,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `wallet_id` (`tnc_wallet_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `tnc_wallets_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tnc_wallets`
--

LOCK TABLES `tnc_wallets` WRITE;
/*!40000 ALTER TABLE `tnc_wallets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tnc_wallets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_profiles`
--

DROP TABLE IF EXISTS `user_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_profiles` (
  `user_id` int NOT NULL,
  `id_verified` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `user_profiles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_profiles`
--

LOCK TABLES `user_profiles` WRITE;
/*!40000 ALTER TABLE `user_profiles` DISABLE KEYS */;
INSERT INTO `user_profiles` VALUES (54,0,'2025-06-21 13:28:19','2025-06-21 13:28:19'),(60,0,'2025-06-21 14:04:42','2025-06-21 14:04:42'),(61,0,'2025-06-22 18:12:46','2025-06-22 18:12:46'),(62,0,'2025-06-22 18:59:13','2025-06-22 18:59:13'),(63,0,'2025-06-24 13:14:14','2025-06-24 13:14:14'),(64,0,'2025-06-24 20:48:47','2025-06-24 20:48:47');
/*!40000 ALTER TABLE `user_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `profile_picture` longblob,
  `wallet_id` varchar(255) DEFAULT NULL,
  `tnc_wallet_id` varchar(255) NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `phone_number` varchar(32) DEFAULT NULL,
  `country` varchar(64) DEFAULT NULL,
  `address_line1` varchar(255) DEFAULT NULL,
  `address_line2` varchar(255) DEFAULT NULL,
  `city` varchar(128) DEFAULT NULL,
  `state` varchar(128) DEFAULT NULL,
  `postal_code` varchar(32) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `is_superuser` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'tanacoin'
--

--
-- Dumping routines for database 'tanacoin'
--
/*!50003 DROP PROCEDURE IF EXISTS `check_credentials` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `check_credentials`(
    IN input_identifier VARCHAR(255)
)
BEGIN
    -- Output variables
    DECLARE out_id INT;
    DECLARE out_username VARCHAR(255);
    DECLARE out_email VARCHAR(255);
    DECLARE out_password_hash VARCHAR(255);
    DECLARE out_user_type ENUM('user', 'superuser');
    DECLARE out_is_superuser BOOLEAN;

    -- Initialize output variables
    SET out_id = NULL;
    SET out_username = NULL;
    SET out_email = NULL;
    SET out_password_hash = NULL;
    SET out_user_type = NULL;
    SET out_is_superuser = FALSE;

    -- Try to find the user in the users table
    SELECT 
        id, username, email, password_hash, 'user', FALSE
    INTO 
        out_id, out_username, out_email, out_password_hash, out_user_type, out_is_superuser
    FROM 
        users
    WHERE 
        username = input_identifier OR email = input_identifier
    LIMIT 1;

    -- If not found, check the superusers table
    IF out_id IS NULL THEN
        SELECT 
            id, username, NULL AS email, password_hash, 'superuser', TRUE
        INTO 
            out_id, out_username, out_email, out_password_hash, out_user_type, out_is_superuser
        FROM 
            superusers
        WHERE 
            username = input_identifier
        LIMIT 1;
    END IF;

    -- Return the results
    SELECT 
        out_id AS user_id, 
        out_username AS username, 
        out_email AS email, 
        out_password_hash AS password_hash, 
        out_user_type AS user_type, 
        out_is_superuser AS is_superuser;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `check_promocode_status` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `check_promocode_status`(IN promo_code VARCHAR(255), IN spender_id INT)
BEGIN

    -- Check if the promo code exists and is within the valid date range

    IF EXISTS (

        SELECT 1

        FROM promo_codes

        WHERE code = promo_code

          AND start_date <= NOW()

          AND end_date >= NOW()

    ) THEN

        -- Return valid promo code details

        SELECT 'valid' AS status,

               added_tnc_percentage AS added_tnc_percentage,

               start_date AS start_date,

               end_date AS end_date,

               creator_id AS creator_id,

               spender_id AS spender_id

        FROM promo_codes

        WHERE code = promo_code;

    ELSE

        -- Check if the spender already used the promo code

        IF EXISTS (

            SELECT 1

            FROM promo_codes

            WHERE code = promo_code

              AND spender_id = spender_id

        ) THEN

            -- Return message indicating that the spender has already used this promo code

            SELECT 'invalid' AS status, 'Promo code already used by this spender.' AS message;

        ELSE

            -- Return invalid promo code status and message

            SELECT 'invalid' AS status, 'Promo code is either expired or not found.' AS message;

        END IF;

    END IF;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `create_promo_code` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `create_promo_code`(

    IN p_code VARCHAR(255),

    IN p_added_tnc_percentage DECIMAL(5, 2),

    IN p_start_date DATETIME,

    IN p_end_date DATETIME,

    IN p_creator_id INT

)
BEGIN

    DECLARE promo_code_count INT;

    -- Count how many promo codes this creator has already created

    SELECT COUNT(*) INTO promo_code_count

    FROM `promo_codes`

    WHERE `creator_id` = p_creator_id;

    -- If the creator already has 5 promo codes, do not allow new creation

    IF promo_code_count >= 5 THEN

        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Creator has already created 5 promo codes.';

    ELSE

        -- Insert the new promo code into the promo_codes table

        INSERT INTO `promo_codes` 

        (`code`, `added_tnc_percentage`, `start_date`, `end_date`, `creator_id`)

        VALUES (p_code, p_added_tnc_percentage, p_start_date, p_end_date, p_creator_id);

    END IF;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetAllUserDetails` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `GetAllUserDetails`()
BEGIN

        SELECT 

            u.id AS user_id,

            u.first_name,

            u.last_name,

            u.username,

            u.email,

            u.profile_picture,

            u.wallet_id,

            u.tnc_wallet_id AS user_tnc_wallet_id,

            u.created_at AS user_created_at,

            

            -- TNC Wallets

            tw.id AS tnc_wallet_id,

            tw.balance AS tnc_wallet_balance,

            tw.created_at AS tnc_wallet_created_at,

            

            -- Crypto Payments

            cp.id AS crypto_payment_id,

            cp.payment_amount,

            cp.crypto_type,

            cp.payment_transaction_hash,

            cp.payment_date,

            cp.status AS payment_status,

            cp.tanacoin_quantity,

            

            -- Tanacoin Transactions (Sender/Recipient)

            tt.id AS tanacoin_transactions_id,

            tt.sender_id,

            tt.recipient_id,

            tt.amount,

            tt.transaction_date,

            tt.transaction_hash,

            tt.recipient_tnc_wallet_id,

            tt.status AS tanacoin_transactions_status,



            -- Promo Codes

            pc.id AS promo_code_id,

            pc.code AS promo_code,

            pc.added_tnc_percentage,

            pc.start_date AS promo_code_start_date,

            pc.end_date AS promo_code_end_date,

            pc.creator_id AS promo_code_creator_id,

            pc.spender_id AS promo_code_spender_id

            

        FROM 

            users u

        

        -- Joining TNC Wallets on user_id

        LEFT JOIN 

            tnc_wallets tw ON u.id = tw.user_id

        

        -- Joining Crypto Payments on user_id

        LEFT JOIN 

            crypto_payments cp ON u.id = cp.user_id

        

        -- Joining Tanacoin Transactions on sender_id or recipient_id

        LEFT JOIN 

            tanacoin_transactions tt ON u.id = tt.sender_id OR u.id = tt.recipient_id



        -- Joining Promo Codes on spender_id

        LEFT JOIN 

            promo_codes pc ON u.id = pc.spender_id



        ORDER BY u.id;

    END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetPromoCodesByCreator` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `GetPromoCodesByCreator`(IN p_creator_id INT)
BEGIN

    SELECT code, added_tnc_percentage, start_date, end_date, created_at

    FROM promo_codes

    WHERE creator_id = p_creator_id;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetTanacoininfo` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `GetTanacoininfo`()
BEGIN
    -- Select the current total_balance
    SELECT total_balance,tanacoin_rate,tanacoins_sold
    FROM tanacoin_main_balance
    ORDER BY id DESC
    LIMIT 1;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetUserDetails` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `GetUserDetails`(
    IN userId INT
)
BEGIN
    
    SELECT 
        u.id AS user_id,
        u.first_name,
        u.last_name,
        u.username,
        u.email,
        u.profile_picture,
        u.wallet_id,
        u.tnc_wallet_id,
        u.created_at AS user_created_at,
        tw.tnc_wallet_id,
        tw.balance AS wallet_balance,
        tw.created_at AS wallet_created_at
    FROM 
        users u
    LEFT JOIN 
        tnc_wallets tw ON u.id = tw.user_id
    WHERE 
        u.id = userId;

    
    SELECT 
        t.id AS transaction_id,
        t.sender_id,
        t.recipient_id,
        t.amount,
        t.transaction_date,
        t.status,
        t.transaction_hash,
        t.recipient_tnc_wallet_id
    FROM 
        tanacoin_transactions t
    WHERE 
        t.sender_id = userId OR t.recipient_id = userId
    ORDER BY 
        t.transaction_date DESC
    LIMIT 10;

    
    SELECT 
        cp.id AS payment_id,
        cp.payment_amount,
        cp.crypto_type,
        cp.crypto_precision,
        cp.transaction_hash,
        cp.payment_date,
        cp.status,
        cp.tanacoin_quantity
    FROM 
        crypto_payments cp
    WHERE 
        cp.user_id = userId
    ORDER BY 
        cp.payment_date DESC
    LIMIT 10;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GetUserDetailsByWalletId` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `GetUserDetailsByWalletId`(IN input_wallet_id VARCHAR(255))
BEGIN

    SELECT 

        id,

        first_name,

        last_name,

        username,

        email,

        profile_picture,

        wallet_id,

        tnc_wallet_id,

        created_at

    FROM 

        users

    WHERE 

        wallet_id = input_wallet_id;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `get_user_by_email` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `get_user_by_email`(

    IN user_email VARCHAR(100)

)
BEGIN

    SELECT 

        id

    FROM users

    WHERE email = user_email;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `get_user_by_ID` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `get_user_by_ID`(
    IN p_user_id INT 
)
BEGIN
    
    SELECT 
        id, 
        password_hash, 
        email, 
        username
    FROM users
    WHERE id = p_user_id; 
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `get_user_data` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `get_user_data`(IN input_user_id INT)
BEGIN
    -- Fetch all relevant data in a single step
    SELECT 
        u.id AS user_id, 
        u.first_name, 
        u.last_name, 
        u.username, 
        u.email, 
        u.profile_picture, 
        u.wallet_id,
        u.tnc_wallet_id AS user_tnc_wallet_id,  -- Keeping the userÔÇÖs tnc_wallet_id in the users table
        u.created_at,
        w.id AS wallet_id, 
        w.tnc_wallet_id AS tnc_wallet_unique_id,  -- Updated reference to tnc_wallet_id
        w.balance, 
        w.created_at AS wallet_created_at,
        t.id AS transaction_id, 
        t.sender_id, 
        t.recipient_tnc_wallet_id, 
        t.amount, 
        t.transaction_date, 
        t.status, 
        t.transaction_hash,
        c.id AS payment_id, 
        c.payment_amount, 
        c.crypto_type, 
        c.crypto_precision, 
        c.payment_transaction_hash AS payment_transaction_hash, 
        c.payment_date, 
        c.status AS payment_status
    FROM users u
    LEFT JOIN tnc_wallets w ON u.id = w.user_id
    LEFT JOIN tanacoin_transactions t ON u.id = t.sender_id OR u.id = t.recipient_id
    LEFT JOIN crypto_payments c ON u.id = c.user_id
    WHERE u.id = input_user_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `ManageTanacoinSupply` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `ManageTanacoinSupply`(
    IN action VARCHAR(10),  -- Action: 'burn' or 'add'
    IN amount DECIMAL(20,2) -- Amount to burn or add
)
BEGIN
    DECLARE current_balance DECIMAL(20,2);
    DECLARE latest_id INT;
    -- Fetch the current balance and the ID of the most recent row
    SELECT id, total_balance
    INTO latest_id, current_balance
    FROM tanacoin_main_balance
    ORDER BY id DESC
    LIMIT 1;
    -- Debugging: Check values of latest_id and current_balance
    SELECT latest_id, current_balance;
    -- If the action is 'burn', subtract the amount from total_balance
    IF action = 'burn' THEN
        -- Ensure that we do not burn more than the available balance
        IF current_balance >= amount THEN
            UPDATE tanacoin_main_balance
            SET total_balance = total_balance - amount
            WHERE id = latest_id;
        ELSE
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Insufficient balance to burn.';
        END IF;
    -- If the action is 'add', add the amount to total_balance
    ELSEIF action = 'add' THEN
        UPDATE tanacoin_main_balance
        SET total_balance = total_balance + amount
        WHERE id = latest_id;
    ELSE
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Invalid action. Please specify "burn" or "add".';
    END IF;
    -- Return the updated balance after the operation
    SELECT total_balance
    FROM tanacoin_main_balance
    WHERE id = latest_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `purchase_and_update_tanacoin` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `purchase_and_update_tanacoin`(

    IN p_user_id INT,

    IN p_payment_amount DECIMAL(30, 18),

    IN p_crypto_type VARCHAR(50),

    IN p_crypto_precision INT,

    IN p_transaction_hash VARCHAR(255),

    IN p_tanacoin_quantity DECIMAL(30, 18)  -- Input the tanacoin quantity directly

)
BEGIN

    -- Declare all variables at the beginning

    DECLARE v_tnc_wallet_id VARCHAR(255);

    DECLARE v_total_market_balance DECIMAL(30, 18);

    DECLARE v_payment_date DATETIME;

    DECLARE remaining_balance DECIMAL(30, 18);

    DECLARE new_rate DECIMAL(20, 8);

    DECLARE total_sold DECIMAL(30, 18);

    DECLARE increments INT;



    -- Step 0: Validate input parameters before proceeding

    IF p_user_id <= 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Invalid user ID.';

    END IF;



    IF p_payment_amount <= 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Invalid payment amount.';

    END IF;



    IF p_tanacoin_quantity <= 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Invalid Tanacoin quantity.';

    END IF;



    IF p_crypto_type IS NULL OR TRIM(p_crypto_type) = '' THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Invalid cryptocurrency type.';

    END IF;



    IF p_transaction_hash IS NULL OR TRIM(p_transaction_hash) = '' THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Invalid transaction hash.';

    END IF;



    -- Step 1: Check if the transaction hash already exists

    IF EXISTS (SELECT 1 FROM crypto_payments WHERE payment_transaction_hash = p_transaction_hash) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Duplicate transaction hash. The transaction has already been processed.';

    END IF;



    -- Step 2: Check if the user exists

    SELECT tnc_wallet_id INTO v_tnc_wallet_id

    FROM users

    WHERE id = p_user_id;



    IF v_tnc_wallet_id IS NULL THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'User does not exist.';

    END IF;



    -- Step 3: Check if the user already has a wallet entry, and if not, create one

    IF NOT EXISTS (SELECT 1 FROM tnc_wallets WHERE user_id = p_user_id) THEN

        -- Create a new wallet entry for the user if it doesn't exist

        INSERT INTO tnc_wallets (user_id, balance) 

        VALUES (p_user_id, 0.00);

    END IF;



    -- Step 4: Update the user's Tanacoin balance (purchase transaction)

    UPDATE tnc_wallets

    SET balance = balance + p_tanacoin_quantity

    WHERE user_id = p_user_id;



    -- Step 5: Check and update the total market balance

    SELECT total_balance INTO v_total_market_balance

    FROM tanacoin_main_balance

    WHERE id = 1;



    IF v_total_market_balance < p_tanacoin_quantity THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Insufficient market balance.';

    END IF;



    UPDATE tanacoin_main_balance

    SET total_balance = total_balance - p_tanacoin_quantity,

        updated_at = CURRENT_TIMESTAMP

    WHERE id = 1;



    -- Step 6: Update the Tanacoin rate based on the amount sold

    SELECT total_balance, tanacoin_rate, tanacoins_sold

    INTO remaining_balance, new_rate, total_sold

    FROM tanacoin_main_balance

    WHERE id = 1;



    -- Update total sold and remaining balance

    SET remaining_balance = remaining_balance - p_tanacoin_quantity;

    SET total_sold = total_sold + p_tanacoin_quantity;



    -- Ensure total_sold is treated as a numeric value

    SET increments = FLOOR(CAST(total_sold AS DECIMAL(20, 2))/1000);



    -- Calculate the new rate

    SET new_rate = 0.09000000 + (increments * 0.00001);



    -- Update the new values in the tanacoin_main_balance table

    UPDATE tanacoin_main_balance

    SET 

        total_balance = remaining_balance,

        tanacoin_rate = new_rate,

        tanacoins_sold = total_sold,

        updated_at = CURRENT_TIMESTAMP

    WHERE id = 1;



    -- Step 7: Handle case if remaining balance becomes negative (from UpdateTanacoinBalance)

    IF remaining_balance < 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Insufficient Tanacoin balance';

    END IF;



    -- Step 8: Insert the payment record

    SET v_payment_date = NOW();



    INSERT INTO crypto_payments (

        user_id, 

        payment_amount, 

        crypto_type, 

        crypto_precision, 

        payment_transaction_hash, 

        payment_date, 

        status, 

        tanacoin_quantity

    )

    VALUES (

        p_user_id, 

        p_payment_amount, 

        p_crypto_type, 

        p_crypto_precision, 

        p_transaction_hash, 

        v_payment_date, 

        'completed', 

        p_tanacoin_quantity

    );



    -- Success Message

    SELECT CONCAT('Purchase successful! ', p_tanacoin_quantity, ' Tanacoin(s) added to your balance.') AS message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `purchase_tanacoin` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `purchase_tanacoin`(

    IN p_user_id INT,

    IN p_payment_amount DECIMAL(30, 18),

    IN p_crypto_type VARCHAR(50),

    IN p_crypto_precision INT,

    IN p_transaction_hash VARCHAR(255),

    IN p_tanacoin_quantity DECIMAL(30, 18)  -- Input the tanacoin quantity directly

)
BEGIN

    DECLARE v_tnc_wallet_id VARCHAR(255);

    DECLARE v_total_market_balance DECIMAL(30, 18);

    DECLARE v_payment_date DATETIME;



    -- Step 1: Check if the user exists

    SELECT tnc_wallet_id INTO v_tnc_wallet_id

    FROM users

    WHERE id = p_user_id;



    IF v_tnc_wallet_id IS NULL THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'User does not exist.';

    END IF;



    -- Step 2: Use the provided Tanacoin quantity

    -- v_tanacoin_quantity is now directly provided via p_tanacoin_quantity

    

    -- Step 3: Update the user's Tanacoin balance

    UPDATE tnc_wallets

    SET balance = balance + p_tanacoin_quantity

    WHERE user_id = p_user_id;



    -- Step 4: Check and update the total market balance

    SELECT total_balance INTO v_total_market_balance

    FROM tanacoin_main_balance

    WHERE id = 1;



    IF v_total_market_balance < p_tanacoin_quantity THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'Insufficient market balance.';

    END IF;



    UPDATE tanacoin_main_balance

    SET total_balance = total_balance - p_tanacoin_quantity,

        updated_at = CURRENT_TIMESTAMP

    WHERE id = 1;



    -- Step 5: Insert the payment record

    SET v_payment_date = NOW();



    INSERT INTO crypto_payments (

        user_id, 

        payment_amount, 

        crypto_type, 

        crypto_precision, 

        payment_transaction_hash, 

        payment_date, 

        status, 

        tanacoin_quantity

    )

    VALUES (

        p_user_id, 

        p_payment_amount, 

        p_crypto_type, 

        p_crypto_precision, 

        p_transaction_hash, 

        v_payment_date, 

        'completed', 

        p_tanacoin_quantity

    );



    -- Success Message

    SELECT CONCAT('Purchase successful! ', p_tanacoin_quantity, ' Tanacoin(s) added to your balance.') AS message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `RegisterUser` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `RegisterUser`(
    IN `p_first_name` VARCHAR(255),
    IN `p_last_name` VARCHAR(255),
    IN `p_username` VARCHAR(255),
    IN `p_email` VARCHAR(255),
    IN `p_password_hash` VARCHAR(255),
    IN `p_profile_picture` BLOB,
    IN `p_wallet_id` VARCHAR(255),
    IN `p_tnc_wallet_id` VARCHAR(255),
    IN `p_date_of_birth` DATE,
    IN `p_phone_number` VARCHAR(32),
    IN `p_country` VARCHAR(64),
    IN `p_address_line1` VARCHAR(255),
    IN `p_address_line2` VARCHAR(255),
    IN `p_city` VARCHAR(128),
    IN `p_state` VARCHAR(128),
    IN `p_postal_code` VARCHAR(32)
)
BEGIN
    -- Declare variables to hold generated user_id and wallet_id
    DECLARE new_user_id INT;
    DECLARE new_tnc_wallet_id INT;
    -- Step 1: Insert the user data into the users table
    INSERT INTO `users` (
        `first_name`, 
        `last_name`, 
        `username`,
        `email`,
        `password_hash`,
        `profile_picture`,
        `wallet_id`,
        `tnc_wallet_id`,
        `date_of_birth`,
        `phone_number`,
        `country`,
        `address_line1`,
        `address_line2`,
        `city`,
        `state`,
        `postal_code`
    )
    VALUES (
        p_first_name, 
        p_last_name, 
        p_username, 
        p_email, 
        p_password_hash, 
        p_profile_picture, 
        p_wallet_id, 
        p_tnc_wallet_id,
        p_date_of_birth,
        p_phone_number,
        p_country,
        p_address_line1,
        p_address_line2,
        p_city,
        p_state,
        p_postal_code
    );
    -- Step 2: Get the newly generated user_id
    SET new_user_id = LAST_INSERT_ID();

    -- Step 2.5: Create user profile immediately after user creation
    INSERT INTO user_profiles (user_id, id_verified)
    VALUES (new_user_id, FALSE);

    -- Step 3: Insert a new tnc_wallet for the user
    INSERT INTO `tnc_wallets` (
        `user_id`, 
        `tnc_wallet_id`, 
        `balance`
    )
    VALUES (
        new_user_id, 
        p_tnc_wallet_id,
        0.00
    );
    -- Optional: You can fetch the new wallet id if needed
    SET new_tnc_wallet_id = LAST_INSERT_ID();
    -- Commit the transaction (if autocommit is off)
    COMMIT;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `transfer_tanacoin` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `transfer_tanacoin`(
    IN sender_id INT,
    IN recipient_tnc_wallet_id VARCHAR(255),
    IN amount DECIMAL(10, 2)
)
BEGIN
    DECLARE sender_balance DECIMAL(10, 2);
    DECLARE recipient_balance DECIMAL(10, 2);
    DECLARE transaction_hash CHAR(36);
    DECLARE transaction_date DATETIME;
    DECLARE recipient_id INT;

    -- Step 1: Check if the sender exists and get their balance
    SELECT balance INTO sender_balance
    FROM tnc_wallets
    WHERE user_id = sender_id;

    IF sender_balance IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Insufficient balance.';
    END IF;

    -- Step 2: Check if the sender has enough balance
    IF sender_balance < amount THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Insufficient balance.';
    END IF;

    -- Step 3: Deduct the amount from the sender's balance
    UPDATE tnc_wallets
    SET balance = balance - amount
    WHERE user_id = sender_id;

    -- Step 4: Fetch the recipient's user_id and update their balance
    SELECT user_id INTO recipient_id
    FROM tnc_wallets
    WHERE tnc_wallet_id = recipient_tnc_wallet_id;

    IF recipient_id IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Recipient wallet does not exist.';
    END IF;

    UPDATE tnc_wallets
    SET balance = balance + amount
    WHERE tnc_wallet_id = recipient_tnc_wallet_id;

    -- Step 5: Create a transaction record
    SET transaction_hash = UUID();  -- Generate a unique transaction hash
    SET transaction_date = NOW();

    INSERT INTO tanacoin_transactions (sender_id,recipient_id, recipient_tnc_wallet_id, amount, transaction_hash, status, transaction_date)
    VALUES (sender_id,recipient_id, recipient_tnc_wallet_id, amount, transaction_hash, 'completed', transaction_date);

    -- Optionally, you can return the transaction hash
    SELECT transaction_hash AS transaction_hash;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `UpdateEmail` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `UpdateEmail`(IN p_user_id INT, IN p_new_email VARCHAR(255))
BEGIN
    DECLARE email_exists INT DEFAULT 0;

    -- Check if the new email already exists
    SELECT COUNT(*) INTO email_exists FROM users WHERE email = p_new_email AND id != p_user_id;

    IF email_exists > 0 THEN
        -- Email already exists
        SELECT -1 AS result;  -- Indicate email exists
    ELSE
        -- Proceed with the update
        UPDATE users
        SET email = p_new_email
        WHERE id = p_user_id;

        -- Check if the update was successful
        IF ROW_COUNT() > 0 THEN
            SELECT 1 AS result;  -- Indicate success
        ELSE
            SELECT 0 AS result;  -- Indicate failure
        END IF;
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `UpdatePassword` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `UpdatePassword`(IN user_id INT, IN new_password VARCHAR(255))
BEGIN
    UPDATE users
    SET password_hash = new_password
    WHERE id = user_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `UpdateTanacoinBalance` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `UpdateTanacoinBalance`(
    IN transaction_amount DECIMAL(20, 2) -- Amount of Tanacoins sold in the transaction
)
BEGIN
    DECLARE remaining_balance DECIMAL(20, 2);
    DECLARE new_rate DECIMAL(20, 8);
    DECLARE total_sold DECIMAL(20, 2);
    DECLARE increments INT;

    -- Fetch the current balance, rate, and sold amount
    SELECT total_balance, tanacoin_rate, tanacoins_sold
    INTO remaining_balance, new_rate, total_sold
    FROM tanacoin_main_balance
    WHERE id = 1;

    -- Update the total balance and Tanacoins sold
    SET remaining_balance = remaining_balance - transaction_amount;
    SET total_sold = total_sold + transaction_amount;

    -- Ensure total_sold is treated as a numeric value
    SET increments = FLOOR(CAST(total_sold AS DECIMAL(20, 2))/1000);

    -- Update the new rate based on the increments
    SET new_rate = 0.09000000 + (increments * 0.00001);

    -- Update the table with new values
    UPDATE tanacoin_main_balance
    SET 
        total_balance = remaining_balance,
        tanacoin_rate = new_rate,
        tanacoins_sold = total_sold,
        updated_at = CURRENT_TIMESTAMP
    WHERE id = 1;

    -- Handle case if total_balance becomes negative
    IF remaining_balance < 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Insufficient Tanacoin balance';
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `UpdateUsername` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `UpdateUsername`(IN user_id_param INT, IN new_username VARCHAR(255))
BEGIN
    DECLARE username_exists INT DEFAULT 0;

    -- Check if the new username already exists
    SELECT COUNT(*) INTO username_exists FROM users WHERE username = new_username AND id != user_id_param;

    IF username_exists > 0 THEN
        -- Username already exists
        SELECT -1 AS result;  -- Indicate username exists
    ELSE
        -- Proceed with the update
        UPDATE users
        SET username = new_username
        WHERE id = user_id_param;

        -- Check if the update was successful
        IF ROW_COUNT() > 0 THEN
            SELECT 1 AS result;  -- Indicate success
        ELSE
            SELECT 0 AS result;  -- Indicate failure
        END IF;
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `update_forgotten_password` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `update_forgotten_password`(IN user_email VARCHAR(100), IN new_password_hash VARCHAR(255))
BEGIN

    -- Update the password for the user identified by their email

    UPDATE users

    SET password_hash = new_password_hash

    WHERE email = user_email;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `update_spender_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE PROCEDURE `update_spender_id`(

    IN p_code VARCHAR(255),

    IN p_spender_id INT

)
BEGIN

    -- Update the spender ID for the promo code

    UPDATE `promo_codes`

    SET `spender_id` = p_spender_id, `updated_at` = NOW()

    WHERE `code` = p_code;

    -- Optionally, you can handle the case where no rows are affected:

    IF ROW_COUNT() = 0 THEN

        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Promo code not found';

    END IF;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-28 16:50:42
